.buttons-wrapper {
    display: flex;
  }
  
  .pagination {
    display: flex;
  }
  
  .header-change__add {
    display: flex;
  }
  
  .header-change__update {
    display: flex;
  }
  
  .buttons {
    display: flex;
  }