.buttons-wrapper {
    display: flex;
    margin: 20px 0;
  }
  
  .pagination {
    display: flex;
    margin: 20px 0;
  }
  
  .header-change__add {
    display: flex;
    margin: 20px 0;
  }
  
  .header-change__update {
    display: flex;
    margin: 20px 0;
  }
  
  .buttons {
    display: flex;
    margin: 20px 0;
  }
  .sort {
    display: flex;
    margin: 20px 0;
  }
  .header-change__add,
.header-change__update,
.title {
  margin-left: 15px;
}